<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <title>Let the Computer Do the Work: A 5-minute Presentation by Chad Altemose for awdg.org</title>
  <link href='http://fonts.googleapis.com/css?family=Arvo:700|PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "main" %>
</head>
<body>

  <article>

    <%= yield %>

  </article>

  <footer>
  	<p>Copyright &copy;2013 Chad L. Altemose.</p>
  </footer>

</body>
</html>